

<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="/style.css"
  </head>
  <body>
    <header>
      <img src="https://images.immediate.co.uk/production/volatile/sites/21/2019/03/moots-vamoots-disc-rsl-3-1533240933096-jb9d0idxzbf8-7195b9c.jpg?quality=90&resize=960%2C540">
      <nav>
        <ul>
          <li class ="menu-item"><a href='/bikeshop'>Home</a></li>
          <li class ="menu-item"><a href='/bikeshop/inventory'>Inventory</a></li>
          <li class ="menu-item"><a href='/bikeshop/manufacturer'>Manufacturer</a></li>
          <li class ="menu-item"><a href='/bikeshop/mountain'>Mountain</a></li>
          <li class ="menu-item"><a href='/bikeshop/road'>Road</a></li>
          <li class ="menu-item"><a href='/bikeshop/gravel'>Gravel</a></li>
          <li class ="menu-item"><a href='/bikeshop/inventory/new'>Add Bike</a></li>
          </ul>
        </nav>
      </header>

    <meta charset="utf-8">
        <main>
          <title>Bike Shop Inventory Tracker</title>
        </main>






    <%= yield %>

  </body>
</html>
