<li class ="menu-item"><a href='/bikeshop'>Home</a></li>
<li class ="menu-item"><a href='/bikeshop/inventory'>Inventory</a></li>
<li class ="menu-item"><a href='/bikeshop/manufacturer'>Manufacturer</a></li>
<li class ="menu-item"><a href='/bikeshop/mountain'>Mountain</a></li>
<li class ="menu-item"><a href='/bikeshop/road'>Road</a></li>
<li class ="menu-item"><a href='/bikeshop/gravel'>Gravel</a></li>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bike Shop Inventory Tracker</title>
  </head>
  <body>
    <nav id="menu">

    </nav>

    <%= yield %>

  </body>
</html>
