

<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="/style.css"
  </head>
  <body>
    <header>
      <img src="https://media1.giphy.com/media/l3vR4Nfdli0jnmF8c/giphy.gif"

      <nav>
        <ul>
          <li class ="menu-item"><a href='/bikeshop'>Home</a></li>
          <li class ="menu-item"><a href='/bikeshop/inventory'>Inventory</a></li>
          <li class ="menu-item"><a href='/bikeshop/manufacturer'>Manufacturer</a></li>
          </ul>
        </nav>
      </header>

    <meta charset="utf-8">
        <main>
          <title>Bike Shop Inventory Tracker</title>
        </main>






    <%= yield %>

  </body>
</html>
