<h1>Add Manufacturer</h1>

<form method="post" action="/bikeshop/manufacturer">

  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input id="name" type="text" name="name" />
    </div>

    <div class="add-button">
      <input type="submit"  value="Add Manufacturer">
    </div>

  </div>
</form>
